
.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 1rem;
    border-radius: 4px;
    margin: 5rem;
    padding: 1rem;
    background-color: var(--bodybackGround)
  }
  