
.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 1rem;
    border-radius: 4px;
    margin: 5rem;
    padding: 1rem;
    background-color: var(--bodybackGround)
  }
  
  .cardImage{
    width: 10rem;
    height: 15rem;
  }

  .productCard {
    display: flex;
  flex-direction: column;
    background-color: white;
    width: 10rem;
  }

  input[type="checkbox"] {
    accent-color: var(--buttonPurple)
    }

  .imageText{
    font-size: 60%;
    font-weight: bold;
    padding: 0.4rem
  }

  .imageContainer {
    position: relative;
  }
  
  .checkbox {
    position: absolute;
    left: 0.2rem;
    top: 5px;
  }