.inStock{
  font-size: 70%;
  font-weight: normal;
  padding-left: 1rem;
  margin-top: 2rem;
  color: green;
}

.outOfStock{
    font-size: 70%;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 1rem;
    color: red;
}

.lowOnStock{
    font-size: 70%;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 1rem;
    color: #f8d48a;
}